<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat-Da-Burger</title>
    <link rel="shorcut icon" type="images/png" href="/assets/img/burgerguy.png">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css">
</head>

<body>
    <main>

        <img src="/assets/img/burgerguy.png" />
        <div>
            <h1>Eat-Da-Burger!</h1>
            <input type="text">
            {{{button}}}
            <p>Enter a burger you want to eat Click the "Submit" button.</p>
        </div>
    </main>
</body>

</html>