{{!-- Here i grab the submitted data from the input and added them to the page  --}}
<div class="wrapper">
    <div class="flex-container">
{{!-- box 1 has the stored burger names. --}}
<div class="box-1">
    {{#each burgers}}
        <p class="p">{{id}}. {{burger_name}}</p>   {{/each}}  </div>
        <div class="box-2">
            {{!-- box 2 has the devour button  --}}
              {{#each burgers}}     

 <button class="eachB" data-id="{{id}}" >
     {{#if devoured}}{{else}}devour{{/if}}
     </button>
    {{/each}}
    </div>

</div>
</div>